.auto{
     background-color:white;
     margin-top:0px;
     margin-bottom:90px;
     margin-left:0px;
     margin-right:auto;
     padding:80px;
     border:20px solid yellow;
     width: 200px;
     text-align:center;
     font-size:15px;

}

.otro{

	  background-color:white;
	  margin-top:90px;
	  margin-bottom:30px;
	  margin-left:auto;
	  margin-right:0px;
	  padding:80px;
	  border:20px solid yellow;
	  width:200px;
	  text-align:center;
	  font-size:15px;
}